nav li {
    list-style: none;
    width: 80%;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;

    padding: 15px 15px;


}

nav li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

#match {
    background-color: rgb(79, 255, 79);
    border: 2px solid black;

}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin-top: 30px;

}