@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------------------------------
        Header section
        --------------------------------------- */
.base-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-banner {
    height: 88vh;
    width: 85%;
    background-color: lightgreen;
    border-radius: 30px;
    display: flex;



}

.banner-text {
    color: white;
    padding-left: 50px;
}

.banner-image img {
    height: 480px;
    width: 513px;
    padding-right: 50px;

    margin-top: 100px;
}

/*----------------------------------------------- 
----------Marcello is running to shoot-----------
------------------------------------------------ */
.banner-image img:hover {
    transform: translate(-300px);
    transition: transform 0.7s ease-in-out 0.5s;
}

.heading-style {

    font-size: 60px;
    font-weight: 700;
}

.para-style {
    color: darkslategrey;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 22px;
}

.banner-button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(79, 255, 79);
}

.hosting-country {

    color: green;
    font-size: 73px;
}




/* --------------------------------------------------
               Aside-Nav and Body Section 
               --------------------------------------*/

.second-base-bg {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-go-live {
    height: 98vh;
    width: 98%;
    /* background-color: rgb(212, 223, 212); */
    border-radius: 30px;
    display: flex;


}



/* aside .go-live {
    float: left;
} */

aside {
    background-color: lightgreen;
    width: 16%;
    height: 40%;
    border-radius: 20px;
}

.go-live {
    /* background-color: rgb(32, 146, 32); */
    width: 84%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    margin-left: 8px;

    /* flex-grow: 1; */
}


.live-info {
    display: flex;
    /* justify-content: space-between; */
    color: rgb(58, 68, 78);
}

/* .go-live-container {
    width: 31%;
    height: 47%;
} */


/* .go-live-banner {
    width: 220px;
    height: 100px;

} */
.Flex-button {
    display: none;
}

/* -------------2nd website/Watch-match-live---------------- */
.match-banner {
    display: flex;
    align-items: center;
    gap: 5px;

}

.game-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.watch-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    margin-left: 50px;
}

/* .vs-style {} */






/*----------------------- Footer ---------------------*/
footer {
    margin-top: 250px;
    height: 200px;
    width: 100%;
    background-color: lightgreen;
}

.footer-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.goal {
    margin-top: 20px;
    color: darkgreen;
}

hr {
    border: 2px solid darkslategrey;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media {
    display: flex;
    gap: 20px;
}

.fa-youtube {
    font-size: 35px;
    color: red;
}

.fa-twitter {
    font-size: 35px;
    color: rgb(33, 143, 187);
}

.fa-futbol {
    font-size: 35px;
    color: darkgreen;
}

.fa-instagram {
    font-size: 35px;
    color: orangered;

}

.contact-misc {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
}



/* Responsive section 
---------------------*/


/*----------------- For Mobile phone------------------ */
@media only screen and (max-width:577px) {
    .top-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 85vw;

    }

    /* .banner-text {
        height: 40%;
        width: 100%;
    } */

    /* .banner-image {
        height: 60%;
        width: 100%;
    } */

    .heading-style {
        font-size: 25px;
        font-weight: 200;
        text-align: center;
    }

    .banner-text {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        margin-bottom: -15%;

    }

    .hosting-country {
        font-size: 30px;
        font-weight: 250;
    }

    .para-style {
        font-size: 14px;
        color: rgb(34, 94, 34);
        font-weight: bold;
    }

    .banner-image img {
        height: 280px;
        width: 320px;
        margin-bottom: -17%;
        margin-left: 70px;
        /* overflow-x: hidden; */
    }


    .nav-go-live {
        height: 90vh;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 5px;

    }

    .go-live {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        /* align-items: center; */
    }

    .footer-style {
        height: 70vh;
        width: 100vw;
        background-color: lightgreen;
        margin-top: 1300px;


    }

    hr {
        width: 60%;
    }

    .responsive-footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-misc {
        display: block;
    }

}

.Flex-button {
    display: none;
}






/* ------------------For tablet devices --------------*/
@media only screen and (min-width:578px) and (max-width:992px) {
    .banner-image img {
        margin-top: 157px;
    }

    .top-banner {
        width: 76%;
    }

    .nav-go-live {
        flex-direction: column;
        align-items: center;
        width: fit-content;
        /* text-align: justify; */

    }

    .go-live {
        grid-template-columns: repeat(2, 1fr);
    }

    aside {
        background-color: white;
    }

    hr {
        width: 60%;
    }

    .contact-misc {
        gap: 30px;
    }

    .Only-tablet {
        height: 50px;
        width: 150px;
        background-color: darkgreen;
        border: 2px solid black;
        border-radius: 10px;
        padding: 31px;
        display: flex;
        margin-top: 400px;
        justify-content: center;
        color: black;
        align-items: center;


    }

    .Flex-button {
        display: flex;
        justify-content: center;
    }


}